@import "node_modules/bootstrap/scss/bootstrap";

.account {
  display: inline-block;
}

.account-tooltip {
  font-size: $font-size-base !important;
  font-weight: $font-weight-base !important;
  min-height: 180px;
  min-width: 300px;
  pointer-events: auto !important;
  opacity: 1 !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.account-handle {
  color: #333;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

.following-followers {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}
