.card-text {
  white-space: pre-line;
}

.post-link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #6c757d;
  }
}

